.body {
  background-color: #463d46;
  font-family: sans-serif;
  color: #463d46;
}

.card__subheader {
  text-transform: uppercase;
  color: #a6192e;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 0;
}

.card__header {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 100;
  margin-top: 0;
}

.card__paragraph {
  font-size: 28px;
  font-weight: 100;
}

.card__button {
  font-size: 24px;
  background-color: #463d46;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 30px 40px;
}

.card {
  margin: 100px auto;
  background-color: white;
  width: 600px;
  padding: 40px;
  border-radius: 20px;
}
